version: "2"
services:
  db:
    image: eccube/postgres
    environment:
      - TZ=Asia/Tokyo
      - POSTGRES_USER=eccube_user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=eccube_db
  eccube3:
    build:
      context: eccube3
      args:
        - ECCUBE_PATH=/var/www/html
        - ECCUBE_BRANCH=${ECCUBE_BRANCH}
        - ECCUBE_REPOS=${ECCUBE_REPOS}
        - DBTYPE=pgsql
    environment:
      - TZ=Asia/Tokyo
      - ECCUBE_DB_HOST=db
      - ECCUBE_DB_USERNAME=eccube_user
      - ECCUBE_DB_PASSWORD=password
      - ECCUBE_AUTH_MAGIC=XjosAXOzO1B3mE0egwQA
      - ECCUBE_MAIL_HOST=mailcatcher
      - ECCUBE_MAIL_PORT=1025
      - ECCUBE_ADMIN_USER=admin
      - ECCUBE_ADMIN_PASS=password
    ports:
      - 80
      - 443
    links:
      - db
      - mailcatcher
    depends_on:
      - db
      - mailcatcher
    restart: unless-stopped
  codecept:
    build:
      context: codeception
      args:
        - ECCUBE_BRANCH=${ECCUBE_BRANCH}
        - ECCUBE_REPOS=${ECCUBE_REPOS}
        - DBTYPE=pgsql
    links:
      - mailcatcher
    depends_on:
      - browser
      - eccube3
    environment:
      - TZ=Asia/Tokyo
      - ECCUBE_DB_HOST=db
      - ECCUBE_DB_USERNAME=eccube_user
      - ECCUBE_DB_PASSWORD=password
      - ECCUBE_DB_DATABASE=eccube_db
      - ECCUBE_AUTH_MAGIC=XjosAXOzO1B3mE0egwQA
      - ECCUBE_MAIL_HOST=mailcatcher
      - ECCUBE_MAIL_PORT=1025
    volumes:
      - ./tests:/project/tests
      - ./codeception.yml:/project/codeception.yml
      - ./ff_profile.zip.b64:/root/ff_profile.zip.b64
      - ./tests/_support/_downloads:/project/downloads
  browser:
    image: selenium/standalone-firefox-debug:2.53.1
    ports:
      - 5900
    dns: 8.8.4.4
    environment:
      - TZ=Asia/Tokyo
      - no_proxy=localhost
    volumes:
      - ./tests/_support/_downloads:/home/seluser/Downloads
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1080
      - 1025
    environment:
      - TZ=Asia/Tokyo
